%p
  %span.minor_title= "#{t('text.header-set-name-count')}: #{@i.to_i + 1}"
= semantic_fields_for "set_name[#{@i}]", @translation do |f|
  = render :partial => 'create_set_name_form', :locals => {:set_name => @set_name, :i => @i, :f => f}
  .pad