= semantic_fields_for "set_name[#{i}]", set_name do |f|
  = f.input :id, :as => :hidden
  .row
    .span3
      = f.input :name, :as => :string, :label => I18n.t('form.set-name'), :required => false
    .span8
      = f.input :description, :as => :text, :label => I18n.t('form.set-description'), :required => false, :input_html => { :rows => 5, :cols => 80 }