%p
Practice:
%span.menu= link_to t('actions.review-listening'), review_language_set_path(:language_id => language_id, :set_id => set_id, :review_mode => 'listening'), :class => 'contrast', :id => "review_#{set_id}", :method => :get
or
%span.menu= link_to t('actions.review-listen-write'), review_language_set_path(:language_id => language_id, :set_id => set_id, :review_mode => 'listening, writing'), :class => 'contrast', :id => "review_#{set_id}", :method => :get
or
%span.menu= link_to t('actions.review-listen-type'), review_language_set_path(:language_id => language_id, :set_id => set_id, :review_mode => 'listening, typing'), :class => 'contrast', :id => "review_#{set_id}", :method => :get
.pad_from_top
%p
Practice:
%span.menu= link_to t('actions.review-reading'), review_language_set_path(:language_id => language_id, :set_id => set_id, :review_mode => 'reading'), :class => 'contrast', :id => "review_#{set_id}", :method => :get
or
%span.menu= link_to t('actions.review-read-speak'), review_language_set_path(:language_id => language_id, :set_id => set_id, :review_mode => 'reading, speaking'), :class => 'contrast', :id => "review_#{set_id}", :method => :get
or
%span.menu= link_to t('actions.review-read-speak-type'), review_language_set_path(:language_id => language_id, :set_id => set_id, :review_mode => 'reading, speaking, typing'), :class => 'contrast', :id => "review_#{set_id}", :method => :get
%p
.pad_from_top
Practice:
%span.menu= link_to t('actions.review-translating-speaking'), review_language_set_path(:language_id => language_id, :set_id => set_id, :review_mode => 'translating, speaking'), :class => 'contrast', :id => "review_#{set_id}", :method => :get
or
%span.menu= link_to t('actions.review-translate-speak-write'), review_language_set_path(:language_id => language_id, :set_id => set_id, :review_mode => 'translating, speaking, writing'), :class => 'contrast', :id => "review_#{set_id}", :method => :get
or
%span.menu= link_to t('actions.review-translate-speak-type'), review_language_set_path(:language_id => language_id, :set_id => set_id, :review_mode => 'translating, speaking, typing'), :class => 'contrast', :id => "review_#{set_id}", :method => :get
.pad_from_top