- chapter = params[:chapter]
- set = Sets.find params[:id]
- set_terms = SetTerms.order(:position).where(:chapter => chapter, :set_id => set.id)

= display_chapter set.id, chapter, set_terms, false
= restart_js

:javascript
  $j('#show_chapter_#{chapter}').click(function(event)
  {
    if ($j('#show_chapter_#{chapter}').text() == "hide")
    {
      $j('#chapter_content_#{chapter}').hide();
      $j('#show_chapter_#{chapter}').text('show');
    }
    else
    {
      $j('#chapter_content_#{chapter}').show();
      $j('#show_chapter_#{chapter}').text('hide');
    }

    event.stopPropagation();
  });