#chapter{:id => chapter}
  %h4
    = chapter_header chapter
    - if start_collapsed == true
      = button "#{t('actions.show')}", show_chapter_set_path(:id => set_id, :chapter => chapter), {:remote => true, :id => "toggle_chapter_#{chapter}"}
    - else
      = button "#{t('actions.hide')}", '#', {:remote => true, :id => "show_chapter_#{chapter}"}
  #chapter_content{:id => chapter}
    - unless start_collapsed
      - if set_terms.empty?
        = information t('text.set-has-no-translations')
      - else
        %ul#list.no-list-style{:id => chapter}
          - index = 0
          - set_terms.each do |set_term|
            - set_term.idioms.each do |idiom|
              - index += 1
              %li#item.force-stripe.well.relative{:id => idiom.id}
                %strong.pull-right
                  edit chapter:
                  = on_the_spot_edit set_term, :chapter
                = render :partial => '/sets/set_idioms', :locals => {:set_id => set_id, :idiom => idiom}
        = link_to 'save order', save_chapter_order_set_path(:id => set_id), :class => 'btn', :id => "save_chapter_#{chapter}_order", :method => :post
:javascript
  $j("#list_#{chapter}").sortable({
    opacity: 0.5,
    axis: "y",
    tolerance: "pointer"
  });

  $j("#save_chapter_#{chapter}_order").click(function(event) {
    var link = $j("#save_chapter_#{chapter}_order").attr('href')

    link = link + "?" + $j('#list_#{chapter}').sortable('serialize');

    $j("#save_chapter_#{chapter}_order").attr('href', link);
  });

