- if languages.empty?
  = information "You have not set this as a learning goal for any languages"
- else
  #ul.thumbnails
    - languages.each do |language|
      - goal = goals.select {|g| g.language_id == language.id}.first
      %li.span8#language{:id => language.id}
        %h3
          = display_language language, 'review'
          - if goal
            = review_set_options_button goal
            = unset_goal_button goal.language_id, goal.set_id
          - else
            = set_goal_button language.id, set_id
