.container
  = page_header t('titles.set-completed.title'), t('titles.set-completed.subtitle')

  #next_due
    = success t('text.completed-set-notice'), "#{t('text.next-review-notice')} #{distance_of_time_in_words(Time.now, @next_due_time, true)}", link_to(t('actions.different-review-mode'), set_path(params[:id]), :class => "contrast")

:javascript
  $j("html").everyTime(#{@refresh_in_ms}, function(i) {
    location.reload();
  }, 0);