=render :partial => '/header', :locals => {:title => t('titles.set-edit.title'), :subtitle => t('titles.set-edit.subtitle')}
#set
  %section{:class => ["panel"]}
    - semantic_form_for(@set, :url => set_path(@set.id), :method => :put) do |form|
      - @set_names.each_with_index do |set_name, i|
        #set_name{:id => i}
          %p
            %span.minor_title= "#{t('text.header-set-name-count')}: #{i + 1}"
            %span= link_to I18n.t('actions.delete-set-name'), delete_set_name_set_path(@set.id, :set_name_id => set_name.id), :class => 'negative tiny_option', :method => :delete, :id => "set_name_#{i}_delete"
          = semantic_fields_for "set_name[#{i}]", set_name do |f|
            .pad_from_top
            = render :partial => 'create_set_name_form', :locals => {:set_name => set_name, :i => i, :f => f}
            .pad_from_top
            .pad
      #set_name{:id => @set_names.count}
        = link_to I18n.t('actions.new-set-name'), add_set_name_set_path(:i => @set_names.count), :class => 'neutral', :method => :post, :remote => :true
        .pad_from_top
        .pad_from_top

      - form.buttons do
        = form.submit I18n.t('actions.save'), :class => 'positive'
        = link_to I18n.t('actions.delete-set'), set_path(@set.id), :class => 'negative', :method => :delete, :id => "set_delete"
