.container
  = page_header t('titles.set-edit.title'), t('titles.set-edit.subtitle')

  #set.content.well
    = semantic_form_for(@set, :url => set_path(@set.id), :method => :put) do |form|
      - @set_names.each_with_index do |set_name, i|
        #set_name{:id => i}
          .pull-right
            = delete_set_name_button @set.id, set_name.id
          = edit_set_section set_name, i
        %hr

      = add_set_name_section @set_names.count
      //= add_set_name_button @set_names.count

      = form.buttons do
        = save_set_button form
        = delete_set_button @set.id