.container
  = page_header t('titles.set-next-chapter.title'), t('titles.set-next-chapter.subtitle')

  .content
    #next_due
      = success "#{t('text.next-review-notice')} #{distance_of_time_in_words(Time.now, @next_due_time, true)}"

    #advance_button.well.centre
      = advance_button params[:language_id], params[:id], params[:review_mode]

:javascript
  $j("html").everyTime(#{@refresh_in_ms}, function(i) {
    location.reload();
  }, 0);