=render :partial => '/header', :locals => {:title => t('titles.set-show.title'), :subtitle => t('titles.set-show.subtitle')}
%section{:class => ["panel right"], :style => "width: 15%"}
  #user_goals
    %p= t('text.loading')
  .pad_from_top
  %span.menu= edit_link_to t('actions.link-term'), select_for_set_set_set_terms_path(params[:id]), :class => 'neutral', :id => "add_term"
  .pad_from_top
  %span.menu= edit_link_to t('actions.new-term'), new_set_set_term_path(params[:id]), :class => 'neutral', :method => :get
  .pad_from_top
  %span.menu= edit_link_to t('actions.edit-set'), edit_set_path(params[:id]), :class => 'neutral'

=render :partial => '/sets/set_names', :locals => {:set => @set}
#user_review_options
=render :partial => '/sets/set_terms', :locals => {:set => @set}

:javascript
  $j(document).ready(function() {
    if (#{params[:language_id].nil?})
    {
      $j.ajax({ url: "/sets/#{params[:id]}/user_goals" });
    }
    else
    {
      $j.ajax({ url: "/languages/#{params[:language_id]}/sets/#{params[:id]}/user_goals" });
    }
  });