=render :partial => '/header', :locals => {:title => t('titles.set-show.title'), :subtitle => t('titles.set-show.subtitle')}
%section{:class => ["panel right"], :style => "width: 15%"}
  - if @user_goal.empty?
    %span.menu= link_to t('actions.set-goal'), select_languages_path(:set_id => params[:id]), :class => 'neutral', :id => "set_goal"
  - else
    - @user_goal.each do |goal|
      %span.menu= link_to t('actions.unset-goal'), unset_goal_set_path(goal.set_id, :language_id => goal.language_id), :class => 'neutral', :id => "unset_goal", :method => :put
  .pad_from_top
  %span.menu= link_to t('actions.link-term'), select_for_set_terms_path(:set_id => params[:id]), :class => 'neutral', :id => "add_term"
  .pad_from_top
  %span.menu= link_to t('actions.new-term'), new_term_path, :class => 'neutral', :method => :get
  .pad_from_top
  %span.menu= link_to t('actions.edit-set'), edit_set_path(params[:id]), :class => 'neutral'
=render :partial => '/sets/set_names', :locals => {:set => @set}
=render :partial => '/sets/set_terms', :locals => {:set => @set}