.container
  = page_header t('titles.set-show.title'), t('titles.set-show.subtitle')
  - if current_user.in_edit_mode?
    .row_fluid.span8.well
      #edit_options.pull-right
        = edit_set_button @set.id
      %p &nbsp;
      = display_set @set, 'no link'
      %hr
      = set_user_review_options
      %hr
      = display_set_chapters @set.id, @chapters
    .row_fluid.span3
      = set_menu @set.id
  - else
    .content.well
      = display_set @set, 'no link'
      %hr
      = set_user_review_options
      %hr
      = display_set_chapters @set.id, @chapters

:javascript
$j(document).ready(function() {
  if (#{params[:language_id].nil?})
  {
    $j.ajax({ url: "/sets/#{params[:id]}/user_goals" });
  }
  else
  {
    $j.ajax({ url: "/languages/#{params[:language_id]}/sets/#{params[:id]}/user_goals" });
  }
});