=render :partial => '/header', :locals => {:title => t('titles.set-edit.title'), :subtitle => t('titles.set-edit.subtitle')}
#set
  %section{:class => ["panel"]}
    - semantic_form_for(@set, :url => set_path(@set.id), :method => :put) do |form|
      - @set_names.each_with_index do |set_name, i|
        #set_name{:id => i}
          %p.minor_title= "#{t('text.set-name-translation')}: #{i + 1}"
          %section{:class => ["panel"]}
            = semantic_fields_for "set_name[#{i}]", set_name do |f|
              = render :partial => 'create_set_name_form', :locals => {:set_name => set_name, :i => i, :f => f}
              = link_to I18n.t('set.edit.labels.delete'), delete_set_name_set_path(@set.id, :set_name_id => set_name.id), :class => 'negative', :method => :delete, :id => "set_name_#{i}_delete"
              .pad
      #set_name{:id => @set_names.count}
        = link_to I18n.t('labels.sets.add_set_name'), add_set_name_set_path(:i => @set_names.count), :class => 'neutral', :method => :post, :remote => :true
        .pad_from_top
        .pad_from_top

      = link_to I18n.t('set.edit.labels.delete'), set_path(@set.id), :class => 'negative', :method => :delete, :id => "set_delete"

      - form.buttons do
        = form.submit I18n.t('translation.edit.labels.save'), :class => 'positive'
