%tr{:id => translation.id, :class => classname}
  %td
    - if current_user.in_edit_mode?
      #form= on_the_spot_edit translation, :form
    - else
      #form= translation.form
  %td
    - if current_user.in_edit_mode?
      #pronunciation= on_the_spot_edit translation, :pronunciation
    - else
      - unless translation.pronunciation.blank?
        #pronunciation= translation.pronunciation
  %td
    #language= translation.languages.name
  %td
    - if translation.audio.file?
      = display_translation_audio translation
    - if current_user.in_edit_mode? and set_id.nil?
      = link_to content_tag('i', '', :class => 'icon-remove'), term_translation_path(translation.idiom_id, translation.id), :method => :delete, :id => "translation_#{translation.id}_delete"
    - if current_user.in_edit_mode? and !set_id.nil?
      = link_to content_tag('i', '', :class => 'icon-remove'), remove_from_set_set_set_term_path(set_id, translation.idiom_id), :id => "term_#{translation.idiom_id}_remove_from_set", :method => :put
      = link_to content_tag('i', '', :class => 'icon-chevron-up'), prev_chapter_set_set_term_path(set_id, translation.idiom_id), :id => "term_#{translation.idiom_id}_prev_chapter", :method => :post
      = link_to content_tag('i', '', :class => 'icon-chevron-down'), next_chapter_set_set_term_path(set_id, translation.idiom_id), :id => "term_#{translation.idiom_id}_next_chapter", :method => :post
      = link_to content_tag('i', '', :class => 'icon-arrow-up'), prev_position_set_set_term_path(set_id, translation.idiom_id), :id => "term_#{translation.idiom_id}_prev_position", :method => :post
      = link_to content_tag('i', '', :class => 'icon-arrow-down'), next_position_set_set_term_path(set_id, translation.idiom_id), :id => "term_#{translation.idiom_id}_next_position", :method => :post