=render :partial => '/header', :locals => {:title => t('titles.users-unlock.title'), :subtitle => t('titles.users-unlock.subtitle')}
%h2= t('text.resend-unlock-instructions')

= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!

  %p
    = f.label :email
    %br
    = f.email_field :email

  %p= f.submit t('actions.resend-unlock-instructions')

= render :partial => "devise/shared/links"