#back_of_card{:class => "hidden"}
  #idioms
    #learned.left
      %h2
        = learned_language.name
        %em.force-small multiple words here share meaning
      - idioms.each do |idiom|
        #idiom_group.inline-block{:id => "#{idiom.id}"}
          = display_learned_translations idiom, learned_language
    #native.left
      %h2
        = native_language.name
        %em.force-small multiple words here share meaning
      - idioms.each do |idiom|
        #idiom_group.inline-block{:id => "#{idiom.id}"}
          = display_native_translations idiom, native_language
