= f.input :id, :as => :hidden
.row
  .span25
    = f.input :language_id, :as => :select, :collection => languages, :id => i, :label => I18n.t('form.translation-language'), :required => false

  .span25
    = f.input :form, :as => :string, :label => I18n.t('form.translation-form'), :required => false

  .span25
    = f.input :pronunciation, :as => :string, :label => I18n.t('form.translation-pronunciation'), :required => false

  .span2
    %p.align-form-button= I18n.t('form.translation-audio')
    = f.file_field :audio

:javascript
  setup_chosen("#translation_#{i}_language_id", "#{t('actions.select-language')}")
  $j("#translation_#{i}_language_id").chosen();