= f.input :id, :as => :hidden
#language_definition
  =render :partial => '/common/definitions', :locals => {:topic => "translation-language"}
= f.input :language_id, :as => :select, :collection => @languages, :id => i, :label => false, :hint => I18n.t('form.translation-language'), :required => false, :wrapper_html => {:class => 'width60'}
:javascript
  $j("#translation_#{i}_language_id").attr("class", "chzn-select")
  $j("#translation_#{i}_language_id").attr("data-placehoder", "Select a language")
  $j("#translation_#{i}_language_id").css('width', '90%');
  
.pad_from_top

#form_definition
  =render :partial => '/common/definitions', :locals => {:topic => "translation-form"}
= f.input :form, :as => :string, :label => false, :hint => I18n.t('form.translation-form'), :required => false, :wrapper_html => {:class => 'width60'}
.pad_from_top

#pronunciation_definition
  =render :partial => '/common/definitions', :locals => {:topic => "translation-pronunciation"}
= f.input :pronunciation, :as => :string, :label => false, :hint => I18n.t('form.translation-pronunciation'), :required => false, :wrapper_html => {:class => 'width60'}
.pad_from_top