- new ||= false
- answer = nil
- card_answer = ""
- learned_translations_in_idiom.each do |learned_translation|
  - card_answer = "#{card_answer}, #{learned_translation.form}" unless card_answer.empty?
  - card_answer = learned_translation.form if card_answer.empty?
  - answer = Marshal::load(Marshal.dump(learned_translation.clone))
  - answer.form = ""

= hidden_field_tag "term_typed_answer", "#{card_answer}"

= display_review_content native_translations, learned_translations_in_idiom, native, learned, audio, typed, new
= back_of_card idioms, learned_language, native_language, new
      