=render :partial => '/header', :locals => {:title => t('titles.translation-create.title'), :subtitle => t('titles.translation-create.subtitle')}
#translations
  %section{:class => ["panel"]}
    - semantic_form_for("translations", :url => "/terms", :method => :post, :html => {:multipart => true}) do |form|
      - @translations.each_with_index do |translation, i|
        #translation{:id => i}
          %p.minor_title= "#{t('text.header-translation-count')} #{i + 1}"
          .pad_from_top
          = semantic_fields_for "translation[#{i}]", translation do |f|
            = render :partial => 'create_term_form', :locals => {:translation => translation, :i => i, :f => f}
            .pad_from_top
      #translation{:id => @translations.count}
        = link_to I18n.t('actions.add-translation'), add_translation_terms_path(:i => @translations.count), :class => 'neutral', :method => :post, :remote => :true
        .pad_from_top
        .pad_from_top

      - form.buttons do
        = form.submit I18n.t('actions.create'), :class => 'positive'
