.container
  = page_header t('titles.translation-create.title'), t('titles.translation-create.subtitle')

  #translations.content.well
    = semantic_form_for("translations", :url => terms_path, :method => :post, :html => {:multipart => true}) do |form|
      = form.input :set_id, :as => :hidden, :value => @set_id

      - @translations.each_with_index do |translation, i|
        #translation{:id => i}
          = create_translation_section translation, i

      = add_translation_section @translations.count

      = form.buttons do
        = create_translation_button form