.container
  = page_header t('titles.translation-create.title'), t('titles.translation-create.subtitle')

  #translations.content.well
    = semantic_form_for(@idiom, :url => term_path(@idiom.id), :method => :put, :html => {:multipart => true}) do |form|
      = form.input :set_id, :as => :hidden, :value => @set_id

      - @translations.each_with_index do |translation, i|
        #translation{:id => i}
          = edit_translation_section translation, i, @languages

      = add_translation_section @translations.count

      = form.buttons do
        = save_translation_button form