.container
  = page_header t('titles.new-term-review.title'), "#{t('text.term-due-count')}: ..."

  = display_term_to_review @term, @native, @learned, @audio, @typed, @learned_translations_in_idiom, @native_translations, @idioms, @learned_language, @native_language, true
  = display_pronunciation_guidance @idioms, @learned_language
  = display_review_buttons params[:review_mode], [], true

:javascript
  $j("#back_of_card").attr("class", "")