- current_idiom = 0

=render :partial => '/header', :locals => {:title => t('term.index.title'), :subtitle => t('term.index.subtitle')}
%section{:class => ["panel right"], :style => "width: 15%"}
  %span.menu= link_to t('actions.new-term'), new_term_path, :class => 'neutral'
%section{:class => ["panel left"], :style => "width: 70%"}
  #translations
    - @idiom_translations.each do |idiom_translation|
      - if idiom_translation.idiom_id != current_idiom and !current_idiom.nil?
        - current_idiom = idiom_translation.idiom_id
        .pad_from_top
        %span.subscript{:style => "float: right;"}
          [
          = link_to t('actions.edit-term'), edit_term_path(current_idiom)
          ]
          [
          = link_to t('actions.add-to-set'), select_sets_path(:idiom_id => current_idiom), :id => "term_#{current_idiom}_add_to_set"
          ]
      #translation{:id => idiom_translation.translation.id}
        %span#language.subscript.contrast_faint= idiom_translation.translation.language
        %span#form= idiom_translation.translation.form
        - unless idiom_translation.translation.pronunciation.empty?
          %span#pronunciation= "(#{idiom_translation.translation.pronunciation})"
    - if @idiom_translations.empty?
      %p= t('text-no-translations')