- current_idiom = 0

=render :partial => '/header', :locals => {:title => t('titles.term-select-for-set.title'), :subtitle => t('titles.term-select-for-set.subtitle')}
%section{:class => ["panel right"], :style => "width: 15%"}
  %span.menu= link_to t('actions.cancel'), sets_path
%section{:class => ["panel left"], :style => "width: 70%"}
  #translations
    - @idiom_translations.each_with_index do |idiom_translation, i|
      - if idiom_translation.idiom_id != current_idiom and !current_idiom.nil?
        - current_idiom = idiom_translation.idiom_id
        .pad_from_top
        %span.subscript{:style => "float: right;"}
          [
          = link_to t('actions.add-to-set'), add_term_set_path(:id => params[:set_id], :idiom_id => current_idiom), :class => 'neutral', :method => :put, :id => "term_#{current_idiom}_select"
          ]
      #translation{:id => i}
        %span#language.subscript.contrast_faint= idiom_translation.translation.language
        %span#form= idiom_translation.translation.form
        - unless idiom_translation.translation.pronunciation.empty?
          %span#pronunciation= "(#{idiom_translation.translation.pronunciation})"
        //%span#language{:style => "width: 10em; display: inline-block;"}= idiom_translation.translation.language
        //%span#form{:style => "display: inline-block;"}= idiom_translation.translation.form
        //%span#pronunciation{:class => "right", :style => "width: 10em; display: inline-block;"}= idiom_translation.translation.pronunciation
