- current_idiom = 0

=render :partial => '/header', :locals => {:title => t('titles.term-select.title'), :subtitle => t('titles.term-select.subtitle')}
%section{:class => ["panel right"], :style => "width: 15%"}
  %span.menu= link_to t('actions.cancel'), terms_path
%section{:class => ["panel left"], :style => "width: 70%"}
  #translations
    - @translations.each_with_index do |translation, i|
      - if translation.idiom_translations.idiom_id != current_idiom and !current_idiom.nil?
        - current_idiom = translation.idiom_translations.idiom_id
        .pad_from_top
        %span.subscript{:style => "float: right;"}
          [
          = link_to t('actions.move-translation-here'), attach_and_detach_term_translation_path(:term_id => current_idiom, :id => params[:translation_id], :remove_from_idiom_id => params[:idiom_id]), :class => 'neutral', :method => :post, :id => "translation_#{current_idiom}_select"
          ]
      #translation{:id => i}
        %span#language.subscript.contrast_faint= translation.languages.name
        %span#form= translation.form
        - unless translation.pronunciation.empty?
          %span#pronunciation= "(#{translation.pronunciation})"
