- current_idiom = 0

=render :partial => '/header', :locals => {:title => t('titles.term-select-for-set.title'), :subtitle => t('titles.term-select-for-set.subtitle')}
%section{:class => ["panel right"], :style => "width: 15%"}
  %span.menu= link_to t('actions.cancel'), set_path(params[:set_id])
%section{:class => ["panel left"], :style => "width: 70%"}
  #translations
    - @translations.each_with_index do |translation, i|
      - if translation.idiom_translations.idiom_id != current_idiom and !current_idiom.nil?
        - current_idiom = translation.idiom_translations.idiom_id
        .pad_from_top
        %span.subscript{:style => "float: right;"}
          [
          = link_to t('actions.add-to-set'), add_to_set_set_set_term_path(params[:set_id], current_idiom), :class => 'neutral', :method => :put, :id => "term_#{current_idiom}_select"
          ]
      #translation{:id => i}
        %span#language.subscript.contrast_faint= translation.languages.name
        %span#form= translation.form
        - unless translation.pronunciation.empty?
          %span#pronunciation= "(#{translation.pronunciation})"