- current_idiom = 0

.container
  = page_header t('titles.translation-select.title'), t('titles.translation-select.subtitle')

  #translations.content.well
    = link_to t('actions.cancel'), term_path(:id => params[:idiom_id]), :class => 'btn btn-danger btn-large pull-right'
    = form_tag(select_terms_path, :method => "post") do
      = hidden_field_tag(:idiom_id, @idiom_id)
      = hidden_field_tag(:translation_id, @translation_id)
      = label_tag(:q, "")
      = text_field_tag(:q, @q, :placeholder => t('text.search-input'))
      = submit_tag t('actions.search'), :class => 'btn', :id => 'search_query'

    %hr
    = show_search_results @translations, @q, @page, @limit, 'move', {:translation_id => @translation_id, :remove_from_idiom_id => @idiom_id}
    = next_page_post_button @next_page, @q