- set_id = params[:set_id]
.container
  = page_header t('titles.term-select-for-set.title'), t('titles.term-select-for-set.subtitle')

  #search.content.well
    = finish_adding_to_set_button set_id
    = form_tag(select_for_set_set_set_terms_path(:set_id => set_id), :method => "get") do
      = label_tag(:q, "")
      = text_field_tag(:q, @q, :placeholder => t('text.search-input'))
      = submit_tag t('actions.search'), :class => 'btn', :id => 'search_query'
    %hr
    = show_search_results @translations, @q, @page, @limit, 'select', {:set_id => set_id}