- idiom_id = params[:id]

.container
  = page_header t('titles.term-show.title'), t('titles.term-show.subtitle')

  #translations.content.well
    - if current_user.in_edit_mode?
      #edit_options.pull-right
        = edit_term_button idiom_id
        = link_to t('actions.merge'), select_for_merge_term_path(:id => params[:id]), :class => 'btn', :id => "term_#{params[:id]}_select_for_merge"
      %p &nbsp;

    %table.table
      %thead
        = search_results_header_row
      %tbody
        - @translations.each do |translation|
          #translation
            = display_translation_as_table_row translation

  %h2 Sets this term belongs to
  #sets.content.well
    - if @sets.empty?
      = information "This term is not in any sets"
    - else
      = display_sets @sets
    - if current_user.in_edit_mode?
      #edit_options.pull-right
        = add_term_to_set_button idiom_id
      %p &nbsp;
