=render :partial => '/header', :locals => {:title => t('titles.show-term.title'), :subtitle => t('titles.show-term.subtitle')}
%section{:class => ["panel right"], :style => "width: 15%"}
  %span.menu= link_to t('actions.edit'), edit_term_path(params[:id]), :class => 'neutral'
  .pad_from_top
  %span.menu= link_to t('actions.link-translation'), select_term_translations_path(params[:id]), :class => 'neutral', :method => :post
%section{:class => ["panel left"], :style => "width: 70%"}
  #translations
    - if @translations.empty?
      %p There are currently no translations in the system
    - @translations.each do |translation|
      #translation
        #translation{:id => translation.id}
          %span#language.subscript.contrast_faint= translation.languages.name
          %span#form= translation.form
          - unless translation.pronunciation.empty?
            %span#pronunciation= "(#{translation.pronunciation})"
          - else
            %span#pronunciation
          - if translation.audio.file?
            #audio
              =render :partial => '/audio_controls_start_only', :locals => {:audio_url => translation.audio.url, :id => translation.id}

