- semantic_form_for(@deck, :url => create_deck_path, :method => :post) do |f|
  #brief_definition
    =render :partial => '/common/definitions', :locals => {:topic => "deck-name"}
  = f.input :name, :as => :string, :label => false, :hint => I18n.t('deck.create.labels.name'), :required => false, :wrapper_html => {:class => 'width60'}
  .pad_from_top

  #description_definition
    =render :partial => '/common/definitions', :locals => {:topic => "deck-description"}
  = f.input :description, :as => :text, :label => false, :hint => I18n.t('deck.create.labels.description'), :required => false, :wrapper_html => {:class => 'width60'}
  .pad_from_top

  #pronunciation_definition
    =render :partial => '/common/definitions', :locals => {:topic => "deck-pronunciation"}
  = f.input :pronunciation_side, :label => I18n.t('deck.edit.labels.pronunciation_side'), :required => false, :as => :radio, :collection => @pronunciation_side_values, :wrapper_html => {:class => 'lo_propose'}
  .pad_from_top
  .pad_from_top

  #pronunciation_definition
    =render :partial => '/common/definitions', :locals => {:topic => "deck-supports-written-answer"}
  = f.input :supports_written_answer, :label => I18n.t('deck.edit.labels.supports_written_answer'), :required => false, :as => :boolean, :wrapper_html => {:class => 'lo_propose'}
  .pad_from_top
  .pad_from_top
  .pad_from_top

  - f.buttons do
    = f.submit I18n.t('deck.create.labels.save'), :class => 'positive'