= semantic_form_for(@deck, :url => create_deck_path, :method => :post) do |f|
  .row
    .span3
      = f.input :name, :as => :string, :label => I18n.t('form.deck-name'), :required => false
    .span3
      = f.input :description, :as => :text, :label => I18n.t('form.deck-description'), :required => false, :input_html => {:rows => 5}
  .row
    .span8
      = f.input :pronunciation_side, :label => I18n.t('form.deck-pronunciation'), :required => false, :as => :radio, :collection => @pronunciation_side_values

  = f.buttons do
    = f.submit I18n.t('actions.save'), :class => 'btn btn-large btn-success', :id => "deck_create"
    = link_to I18n.t('actions.cancel'), user_index_path, :class => 'btn btn-large align-form-button'