= semantic_form_for(@deck, :url => deck_path(@deck.id), :method => :put) do |f|
  .row
    .span3
      = f.input :name, :as => :string, :label => I18n.t('form.deck-name'), :required => false
    .span3
      = f.input :description, :as => :text, :label => I18n.t('form.deck-description'), :required => false, :input_html => {:rows => 5}
  .row
    .span8
      = f.input :pronunciation_side, :label => I18n.t('form.deck-pronunciation'), :required => false, :as => :radio, :collection => @pronunciation_side_values

  = f.submit I18n.t('actions.save'), :class => 'btn btn-success btn-large'
  = link_to I18n.t('actions.delete'), deck_path(@deck.id), :confirm => I18n.t('actions.delete_confirm'), :method => :delete, :class => 'btn btn-danger btn-large'
  = link_to I18n.t('actions.cancel'), deck_path(@deck.id), :class => 'btn btn-large align-form-button'