#ul.thumbnails
  - @decks.each do |deck|
    %li.span5#deck{:id => deck.id}
      - if @card_counts[deck.id].nil?
        %em.pull-right= "#{t('text.empty-deck')}"
      - else
        %em.pull-right= "#{@card_counts[deck.id]} cards (#{@due_counts[deck.id]} due)"
      %h3
        = link_to deck.name, show_deck_path(deck.id)
        %small= deck_subtitle(deck)
      %blockquote
        %em= deck.description