- @decks.each do |deck|
  #deck{:id => deck.id, :class => 'panel'}
    %span#country{:class => 'right subscript'}= "#{deck.country.downcase}"
    %span#language{:class => 'right subscript'}= "#{deck.lang.downcase}-"
    %p.minor_title
      = link_to deck.name, show_deck_path(deck.id)
      - if deck.shared
        %span#shared{:class => 'subscript'}= "(shared)"
    %p.description= deck.description
    .pad