.container
  = page_header @deck.name, deck_subtitle(@deck)

  .row_fluid.span8.well
    - unless @deck.description.nil? || @deck.description == ""
      %p= @deck.description
      %hr
    - if @chapters.empty?
      = information t('text.empty-deck')
    - else
      - current_chapter = 0
      - @chapters.each do |chapter|
        - if current_chapter < chapter.chapter
          - current_chapter = chapter.chapter
          #chapter{:id => "#{current_chapter}"}
            %p
              = "Chapter #{current_chapter}"
              = link_to "#{t('actions.show')}", reveal_deck_chapter_path(@deck.id, current_chapter), :class => "btn", :remote => true
              = link_to "#{t('actions.cram')}", cram_deck_chapter_path(@deck.id, current_chapter), :class=> "btn"
  .row_fluid.span3
    %ul.nav.nav-list.well
      %li.nav-header Actions
      %li= link_to t('actions.review'), learn_deck_path(@deck.id)
      - if @deck.user_id == current_user.id
        %li= link_to t('actions.add-card'), new_deck_card_path(@deck.id)
        %li= link_to t('actions.edit-deck'), edit_deck_path(@deck.id)
        - if @deck.shared
          %li= link_to t('actions.stop-sharing-deck'), toggle_share_deck_path(@deck.id)
        - else
          %li= link_to t('actions.share-deck'), toggle_share_deck_path(@deck.id)

