=render :partial => '/header', :locals => {:title => t('titles.language-index.title'), :subtitle => t('titles.language-index.subtitle')}
#languages
  %p.minor_title
    = "#{t('text.header-languages')}:"
    #user_languages
      .panel
        %p= t('text.loading')
  .pad_from_top

  %p.minor_title
    = "#{t('text.header-languages-options')}:"
    #remaining_languages
      .panel
        %p= t('text.loading')

:javascript
  $j(document).ready(function() {
    $j.ajax({ url: "/languages/user_languages" });
  });
:javascript
  $j(document).ready(function() {
    $j.ajax({ url: "/languages/remaining_languages" });
  });