=render :partial => '/header', :locals => {:title => @language.name, :subtitle => ""}
#sets
  %p.minor_title
    = "#{t('text.header-user-sets')}:"
    #user_sets
      .panel
        %p= t('text.loading')
  %p.minor_title
    = "#{t('text.header-available-sets')}:"
    #available_sets
      .panel
        %p= t('text.loading')
:javascript
  $j(document).ready(function() {
    $j.ajax({ url: "/languages/#{params[:id]}/sets/user_sets" });
  });