.container
  = page_header t('titles.user-home.title'), t('titles.user-home.subtitle')
  .content
    = user_languages @languages

    #user_decks.well.span5
      = section_header t('text.header-things'), link_to("change", deck_index_path, :id => "all_decks")
      - if @decks.empty?
        = information t('text.user-has-no-decks'), "", ""
      - else
        = list_decks @decks

:javascript
  $j(document).ready(function() {
    $j.ajax({ url: "/languages/user_languages?user_action=none" });
  });