=render :partial => '/header', :locals => {:title => t('user.login.title'), :subtitle => t('user.login.subtitle')}
%section{:class => ["panel"]}
  = semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.input :email, :as => :email, :label => false, :hint => I18n.t('user.login.labels.email'), :required => false, :wrapper_html => {:class => 'full_width'}
    .pad_from_top
    = f.input :password, :as => :password, :label => false, :hint => I18n.t('user.login.labels.password'), :required => false, :wrapper_html => {:class => 'full_width'}
    - if devise_mapping.rememberable?
      .pad_from_top
      = f.input :remember_me, :as => :boolean, :label => I18n.t('user.login.labels.remember_me'), :wrapper_html => {:class => 'full_width'}
    .pad_from_top
    = f.submit I18n.t('user.actions.sign_in'), :class => 'positive'
    - if devise_mapping.recoverable? && controller_name != 'passwords'
      = link_to I18n.t('user.actions.forgot_password'), new_password_path(resource_name), :class => 'neutral'