- semantic_form_for(@card, :url => deck_card_path(@card.deck_id, @card.id), :method => :put) do |f|
  #brief_definition
    =render :partial => '/common/definitions', :locals => {:title => I18n.t('card.terminology.front.title'), :detail => I18n.t('card.terminology.front.description')}
  = f.input :front, :as => :text, :label => false, :hint => I18n.t('card.edit.labels.front'), :required => false, :wrapper_html => {:class => 'width60'}
  .pad_from_top

  #description_definition
    =render :partial => '/common/definitions', :locals => {:title => I18n.t('card.terminology.back.title'), :detail => I18n.t('card.terminology.back.description')}
  = f.input :back, :as => :text, :label => false, :hint => I18n.t('card.edit.labels.back'), :required => false, :wrapper_html => {:class => 'width60'}
  .pad_from_top

  #description_definition
    =render :partial => '/common/definitions', :locals => {:title => I18n.t('card.terminology.pronunciation.title'), :detail => I18n.t('card.terminology.pronunciation.description')}
  = f.input :pronunciation, :as => :text, :label => false, :hint => I18n.t('card.edit.labels.pronunciation'), :required => false, :wrapper_html => {:class => 'width60'}
  .pad_from_top

  = f.submit I18n.t('card.edit.labels.save'), :class => 'positive'
  = link_to I18n.t('card.edit.labels.delete'), deck_card_path(@card.deck_id, @card.id), :confirm => I18n.t('card.edit.labels.delete_confirm'), :method => :delete, :class => 'negative'