= semantic_form_for(@card, :url => deck_card_path(@card.deck_id, @card.id), :html => {:multipart => true}, :method => :put) do |f|
  .row
    .span3
      = f.input :front, :as => :text, :label => I18n.t('form.card-front'), :required => false, :input_html => {:rows => 5}
    .span3
      = f.input :back, :as => :text, :label => I18n.t('form.card-back'), :required => false, :input_html => {:rows => 5}
    .span3
      = f.input :pronunciation, :as => :text, :label => I18n.t('form.card-pronunciation'), :required => false, :input_html => {:rows => 5}
  .row
    .span8
      = f.file_field :audio_file_name
  .row
    .span8
      = f.input :chapter, :label => I18n.t('form.card-chapter'), :required => false

  = f.buttons do
    = f.submit I18n.t('actions.save'), :class => 'btn btn-large btn-success', :id => "card_create"
    = link_to I18n.t('actions.delete'), deck_card_path(@card.deck_id, @card.id), :confirm => I18n.t('actions.delete_confirm'), :method => :delete, :class => 'btn btn-large btn-danger align-form-button'
    = link_to I18n.t('actions.cancel'), deck_card_path(@card.deck_id, @card.id), :class => 'btn btn-large align-form-button'
