.container
  = page_header "#{deck_home_link(@card.deck_id)} #{t('titles.deck-learn.title-old')}".html_safe, ''

  .content
    .well.centre
      =render :partial => '/card/show', :locals => {:card => @card, :pronunciation_side => @deck.pronunciation_side, :supports_typed_answer => @deck.supports_written_answer}

    .centre
      - unless @card.nil?
        #reveal_button
          = card_reveal_button

        #review_buttons.hidden.centre
          = card_cram_next_button @deck, @card

:javascript
  $j('html').keypress(function(event) {
    if (event.which == '32')
    {
      if ($j('#do_reveal').is(":visible"))
      {
        $j('#do_reveal').click();
      }
      else
      {
        $j('#do_next').click();
      }
    }

    event.preventDefault() ;
  });

  $j('#do_reveal').click(function(event)
  {
    $j("#back_of_card").removeClass('hidden');
    $j("#review_buttons").removeClass('hidden');

    $j("#reveal_button").hide();
  });