=render :partial => '/header', :locals => {:title => t('card.reveal.title'), :subtitle => t('card.reveal.subtitle')}
%section{:class => "panel"}
  %p.giant= @card.front
  - unless @card.back == ""
    .section_break
    %p.giant= @card.back
  .pad
.pad_from_top
%section{:class=> "panel"}
  .button{:class => "centre large_button"}
    %ul
      %li.inline
        - if @card_schedule.interval == 0
          = link_to t('card.reveal.labels.didnt_know'), review_deck_card_path(:deck_id => @card.deck_id, :id => @card.id, :answer => 'didnt_know', :review_start => @review_start.to_s, :reveal => @reveal), :class => 'positive', :method => :post
        - else
          = link_to t('card.reveal.labels.didnt_know'), review_deck_card_path(:deck_id => @card.deck_id, :id => @card.id, :answer => 'didnt_know', :review_start => @review_start.to_s, :reveal => @reveal), :class => 'neutral', :method => :post
      %li.inline
        = link_to t('card.reveal.labels.partial_answer'), review_deck_card_path(:deck_id => @card.deck_id, :id => @card.id, :answer => 'partial_correct', :review_start => @review_start.to_s, :reveal => @reveal), :class => 'neutral', :method => :post
      %li.inline
        - if !@quick_response && @card_schedule.interval > 0
          = link_to t('card.reveal.labels.shaky_but_good'), review_deck_card_path(:deck_id => @card.deck_id, :id => @card.id, :answer => 'shaky_good', :review_start => @review_start.to_s, :reveal => @reveal), :class => 'positive', :method => :post
        - else
          = link_to t('card.reveal.labels.shaky_but_good'), review_deck_card_path(:deck_id => @card.deck_id, :id => @card.id, :answer => 'shaky_good', :review_start => @review_start.to_s, :reveal => @reveal), :class => 'neutral', :method => :post
      %li.inline
        - if @quick_response && @card_schedule.interval > 0
          = link_to t('card.reveal.labels.confident'), review_deck_card_path(:deck_id => @card.deck_id, :id => @card.id, :answer => 'good', :review_start => @review_start.to_s, :reveal => @reveal), :class => 'positive', :method => :post
        - else
          = link_to t('card.reveal.labels.confident'), review_deck_card_path(:deck_id => @card.deck_id, :id => @card.id, :answer => 'good', :review_start => @review_start.to_s, :reveal => @reveal), :class => 'neutral', :method => :post
  .pad
:javascript
  $('html').keypress(function(event) {
    //hitting space will click the green button
    //if (event.which == '32')
    //{
    //    document.location = $("a.positive").attr('href');
    //}
    //hitting 1 will click on didnt_know
    //if (event.which == '49')
    //{
    //    document.location = $(".large_button a")[0].href;
    //}
    //hiting 2 will click on partial_correct
    //if (event.which == '50')
    //{
    //  document.location = $(".large_button a")[1].href;
    //}
    //hitting 3 will click on shaky_good
    //if (event.which == '51')
    //{
    //  document.location = $(".large_button a")[2].href;
    //}
    //hitting 4 will clik on good
    //if (event.which == '52')
    //{
    //  document.location = $(".large_button a")[3].href;
    //}
  });