.container
  = page_header deck_home_link(@card.deck_id), t('titles.card-show.title')

  .content.well.centre
    .pull-right
      = edit_card_link @card.deck_id, @card.id

    = show_card_front_large @card
    = show_card_audio @card
    = show_card_back_large @card
    = show_card_pronunciation_large @card