%p
  = "#{t('text.chapter-prefix')} #{chapter}"
  = link_to "#{t('actions.hide')}", '#', :remote => true, :class=>"btn", :id => "toggle_chapter_#{chapter}"
  :javascript
    $j('#toggle_chapter_#{chapter}').click(function(event)
    {
      if ($j('#toggle_chapter_#{chapter}').text() == "hide")
      {
        $j('#cards_for_chapter_#{chapter}').hide();
        $j('#toggle_chapter_#{chapter}').text('show');
      }
      else
      {
        $j('#cards_for_chapter_#{chapter}').show();
        $j('#toggle_chapter_#{chapter}').text('hide');
      }

      event.stopPropagation();
    });
  = link_to "#{t('actions.cram')}", cram_deck_chapter_path(deck.id, chapter), :class=> "btn"
#cards_for_chapter{:id => "#{chapter}"}
  - @cards.each do |card|
    .panel.well.force-stripe.inline-block.centre{:style => "position: relative"}
      .pull-right{:style => "position: absolute; top: 5px; right: 5px;"}
        = link_to content_tag('i', '', :class => 'icon-edit'), edit_deck_card_path(deck.id, card.id)
      = show_card_front_large card
      = show_card_audio card
      = show_card_pronunciation_on_front card, @deck.pronunciation_side
      = show_back_of_card card, @deck.pronunciation_side, false