=render :partial => '/header', :locals => {:title => t('deck.chapter.title', :chapter => params[:id]), :subtitle => t('deck.chapter.subtitle', :count => @due_count)}

#advance_button
  .panel
    .button{:class => "centre big_button"}
      = link_to t('actions.advance'), advance_deck_chapter_path(@deck.id), :class => 'positive', :id => 'do_advance'
    .pad_from_top

.cards
- @upcoming_cards.each do |upcoming_card|
  .div{:class => "card_panel_full_page left centre"}
    %p#upcoming{:id => upcoming_card["id"]}= "#{upcoming_card["front"]}"
    - if @deck.pronunciation_side == "front" && !upcoming_card["pronunciation"].nil? && upcoming_card["pronunciation"] != ""
      %p{:class => "subtitle centre"}= "[#{upcoming_card["pronunciation"]}]"
    .pad_from_top
    .pad_from_top
    %p.subscript= "due in #{distance_of_time_in_words(Time.now, upcoming_card["due"], true)}"
  :javascript
    $j("html").everyTime(30000, function(i) {
      location.reload();
    }, 0);

:javascript
  $j('html').keypress(function(event) {
    if (event.which == '32')
    {
        $j('#do_advance').click();
    }
  });