.container
  = page_header t('titles.deck-chapter.title', :chapter => params[:id]), "#{t('titles.deck-chapter.subtitle', :count => @due_count)}: ..."

  .content
    = success "If you don't review your next card is due in #{distance_of_time_in_words(Time.now, @upcoming_cards.first["due"], true)}"

    #advance_button.centre
      = chapter_advance_button @deck.id


:javascript
  $j("html").everyTime(30000, function(i)
  {
    location.reload();
  }, 0);

  $j('html').keypress(function(event)
  {
    if (event.which == '32')
    {
      $j('#do_advance').click();
    }
  });