%p= "#{t('text.welcome')} #{@resource.email}!"
%p= t('text.instructions-confirm-account')
%p= link_to t('actions.confirm-account'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
