%p= "#{I18n.t('user.reset_password.email.greeting')} #{@resource.email}!"
%p= "#{I18n.t('user.reset_password.email.what_is_this_email')}"
%p= link_to I18n.t('user.reset_password.email.change_password_link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= "#{I18n.t('user.reset_password.email.further_information')}"