%p= "#{I18n.t('text.hello')} #{@resource.email}!"
%p= "#{I18n.t('text.reset-password-what-is-this-email')}"
%p= link_to I18n.t('actions.change-password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= "#{I18n.t('text.reset-password-further_information')}"