%p= "#{t('text.hello')} #{@resource.email}!"
%p= t('text.locked-account-notice')
%p= t('text.unlock-account-instructions'):
%p= link_to t('actions.unlock'), unlock_url(@resource, :unlock_token => @resource.unlock_token)
