-id ||= 0
#audio.hidden{:id => id}
.jp-audio
  .jp-type-play-only
    #jp_interface.jp-interface{:id => id}
      %ul.jp-controls.no-list-style.remove-margin
        %li
          = link_to content_tag('i', '', :class => 'icon-play'), '#', :class => "jp-play", :tabindex => "1"
        %li
          = link_to content_tag('i', '', :class => 'icon-play'), '#', :class => "jp-pause", :tabindex => "1"

:javascript
  $j(document).ready(function() {
    $j("#audio_#{id}").jPlayer( {
      ready: function () {
        $j(this).jPlayer("setMedia", {
          mp3: "#{audio_url}"
        });
      },
      solution: "html",
      cssSelectorAncestor: "#jp_interface_#{id}"
    });
  });