-id ||= 0
#audio{:id => id}
.jp-audio
  .jp-type-play-only
    #jp_interface{:id => id, :class => "jp-interface"}
      %ul.jp-controls
        %li
          = link_to "play", '#', :class => "jp-play", :tabindex => "1"
        %li
          = link_to "pause", '#', :class => "jp-pause", :tabindex => "1"

:javascript
  $(document).ready(function() {
    $("#audio_#{id}").jPlayer( {
      ready: function () {
        $(this).jPlayer("setMedia", {
          mp3: "#{audio_url}"
        });
      },
      solution: "html",
      cssSelectorAncestor: "#jp_interface_#{id}"
    });
  });