- if user_signed_in?
  %nav.left
    %span.top_menu_panel
      %span= link_to(I18n.t('user.actions.home'), user_index_path)
    %span.top_menu_panel
      %span= link_to 'Create Deck', '/deck/create', :method => :post

    //attempt to display a deck home and then a card home depending on the current page.
    //#TODO: simplify this code using before filters
    - unless params[:deck_id].nil?
      %span.top_menu_panel
        %span= link_to 'Deck Home', "/deck/#{params[:deck_id]}"
      -if params[:controller] == "card"
        %span.top_menu_panel
          %span= link_to 'Card Home', "/deck/#{params[:deck_id]}/card/#{params[:id]}"
    - else
      - unless @deck.nil?
        %span.top_menu_panel
          %span= link_to 'Deck Home', "/deck/#{@deck.id}"
      - else
        -if params[:controller] == "deck"
          %span.top_menu_panel
            %span= link_to 'Deck Home', "/deck/#{params[:id]}"
