!!! html
%html
  %head
    %title PushFlashBang
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag 'analytics' if Rails.env.production?
    = csrf_meta_tag
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  %body{:style => "padding-top: 40px;"}
    = render :partial => '/common/menu'
    = yield

    :javascript
      //jQuery(function($){ $('.chzn-select').chosen(); });
      $j(".chzn-select").chosen();
      //$j(".chzn-select").chosen();